@import '../../../style/base';

.addButton{
  width: 40px;
  height: 40px;
  border: none;
  background-color: $base-color;
  font-size: 20px;
  border-radius: 20px;
  color: $white;
}


.ViewChangeBtn{
  cursor: pointer;
  background-color: $white;
  border: 1px solid $gray;
  border-radius: 5px;
  padding: 8px 12px;
  margin: 0 5px;
  font-size: 12px;

  &:hover{
    background-color: $almost-white;
  }

  @include mq(md){
    padding: 8px 16px;
  }
}

.ViewChangeBtn.active{
  background-color : $base-color;
  color: $white;
}